* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Sora', sans-serif;
   height: 5000px;
}



/* Common */
.container {
   width: 1170px;
   min-width: calc(100% -48px);
   margin-left: auto;
   margin-right: auto;
}

.btn {
   border-radius: 30px;
   background: #2E80CE;
   color: #FFF;
   text-align: center;
   font-size: 1.6rem;
   line-height: 1.75;
}

.btn:hover {
   opacity: 0.9;
}

a {
   text-decoration: none;
}

.desc {
   color: #575F66;
   font-weight: 300;
}

/* Header */
.header {
   padding-top: 30px;
   min-height: 100vh;
   background-color: #10375C;
}

.header-top {
   display: flex;
   align-items: center;
   padding: 2px 0px;
   position: sticky;
}

.navbar ul {
   display: flex;
}

.navbar ul a {
   padding: 8px 12px;
   color: #C9D2DA;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 300;
   margin-left: 18px;
}

.navbar ul a:hover {
   text-shadow: 0.5px 0 0 currentColor;
   color: white;
}

.navbar .dot::before {
   position: relative;
   left: 25px;
   top: -2px;
   content: "";
   display: inline-block;
   width: 6px;
   height: 6px;
   border-radius: 6px;
   background: #FFF;
}

.navbar {
   margin-left: 278px;
}

.header .action {
   margin-left: 210px;
}

.login {
   color: #C9D2DA;
   text-align: right;
   font-size: 1.6rem;
   font-weight: 300;
   line-height: 28px;

}

.action .btn {
   padding: 8px 20px;
   margin-left: 28px;
}

/* Hero */
.header .hero {
   display: flex;
   margin-top: 76px;
}

.hero__content {
   width: 44%;
}

.hero__media {
   flex-grow: 1;
   margin-left: 113px;
   position: relative;
}

.hero-img:nth-child(2) {
   position: absolute;
   left: 330px;
   top: 65px;
}

.hero__heading {
   color: #FFF;
   font-size: 7rem;
   font-weight: 600;
   line-height: 1.14;
   letter-spacing: -1.4px;
   margin-top: 60px;
}

.hero__desc {
   margin-top: 22px;
   color: #C9D2DA;
   font-size: 1.8rem;
   line-height: 1.67;
}

.hero-row .btn {
   display: inline-block;
   margin-top: 38px;
   padding: 15px 46px;
}

.hero__phone {
   color: #FFF;
   font-size: 1.8rem;
   line-height: 1.67;
   margin-left: 38px;
}

/* Service */
.service {
   margin-top: 170px;
   padding-bottom: 170px;
}

.service .title {
   color: #10375C;
   text-align: center;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -1px;
}

.service .desc {
   margin-top: 18px;
   margin-left: auto;
   margin-right: auto;
   width: 468px;
   text-align: center;
   font-size: 1.8;
   line-height: 1.67;
}

.service .content {
   margin-top: 70px;
   display: flex;
   justify-content: space-between;
}

.service .info {
   margin-top: 35px;
}

.service .block {
   display: flex;
   padding: 21px 18px 20px 22px;
   border-radius: 10px;
   align-items: center;
}

.service .block:hover {
   box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service .sub-icon {
   color: #10375C;
   font-size: 1.8rem;
   font-weight: 600;
}

.service .block .desc {
   margin-top: 8px;
   width: 351px;
   text-align: left;
   font-size: 1.6rem;
   line-height: 1.75;
}

.service .btn {
   display: inline-block;
   margin-top: 55px;
   padding: 15px 49px;
}

/* Works */
.work {
   background-color: #F6FBFF;
   padding-bottom: 100px;
}

.work .title {
   color: #10375C;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -1px;
   padding-top: 100px;
}

.work .desc {
   margin-top: 18px;
   width: 468px;
   font-size: 1.8;
   line-height: 1.67;
   margin-top: 18px;
}

.work .content {
   display: flex;
   margin-top: 86px;
   gap: 30px;
}

.work .block {
   display: block;
   border: 16px solid #EAF6FF;
   ;
   border-radius: 4px;
}

.work .block:hover {
   border-color: #2E80CE;
   transform: translateY(-16px);

}

.block-content {
   padding: 42px;
   background-color: #FFF;
}

.work .block .icon {
   display: block;
}

.work .block .sub-icon {
   display: inline-block;
   margin-top: 18px;
   color: #10375C;
   font-size: 2.6rem;
   font-weight: 600;
}

.work .block .desc {
   width: 254px;
   margin-top: 18px;
   font-size: 1.6rem;
   font-weight: 300;
   line-height: 1.67;
}

.work .link {
   display: inline-block;
   margin-top: 18px;
   color: #2E80CE;
   font-size: 1.6rem;
   line-height: 1.67;
}

/* Features */
.feature {
   padding-bottom: 170px;
}

.feature .container {
   display: flex;
   padding-top: 170px;
   gap: 130px;
}

.feature .media {
   position: relative;
   width: 48%;

}

.feature__img {
   width: 512px;
   height: 370px;
   border-radius: 6px;
}

.move {
   position: absolute;
   width: 332px;
   height: 370px;
   object-fit: cover;
   top: 121px;
   left: 238px;
}

.feature .content {
   width: 468px;
}

.feature .title {
   color: #10375C;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -1px;
   padding-top: 82px;
}

.feature .desc {
   width: 468px;
   margin-top: 18px;
   font-size: 1.8;
   line-height: 1.67;
   margin-top: 18px;
}

.feature .btn {
   display: inline-block;
   margin-top: 38px;
   padding: 15px 51px;
}

/* Member */
.member {
   padding-bottom: 265px;
}

.member .title {
   margin-top: 95px;
   color: #10375C;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -1px;
}

.member .btn {
   display: inline-block;
   padding: 15px 27px;
   margin-top: 38px;
}

.member__header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.member .list-block {
   display: flex;
   gap: 34px;
   margin-top: 70px;
}

.member .img-bgr {
   width: 270px;
   height: 318px;
   border-radius: 6px;
   background: #EAF6FF;
   position: relative;
}

.member .image {
   position: absolute;
   top: 28px;
   width: 100%;
   object-fit: cover;
}

.member .sub-img {
   margin-top: 12px;
   color: #10375C;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 400;
}

.member .desc {
   text-align: center;
   font-size: 1.4rem;
   font-weight: 300;
}

.member .action-btn {
   display: block;
   margin-top: 38px;
   margin-left: auto;
   margin-right: auto;
}

/* Install */
.container-bgr {
   border-radius: 4px;
   background: #2E80CE;
   display: flex;
   gap: 160px;
}

.install .image {
   display: block;
   margin-top: -95px;
   padding-left: 70px;
}

.install .title {
   color: #FFF;
   font-size: 5rem;
   font-weight: 600;
   line-height: 1.2;
   letter-spacing: -1px;
   margin-top: 76px;
   width: 498px;
}

.install .desc {
   margin-top: 18px;
   color: #FFF;
   font-size: 1.8rem;
   line-height: 1.67;
}
.install .row {
   display: flex;
   margin-top: 38px;
   gap: 28px;
}